@import "config/bootstrap"
@import "config/colors"
@import "bootstrap"
@import "font-awesome"
@import "components/glitch"
@import "components/bubble"
@import "components/section"
html
  font-family: sans-serif
  background-color: $gray
body
  background-color: $gray
