// .parallax
//   @at-root
//   & img, .image--blurred
//     filter: blur(4px) brightness(45%) contrast(90%) grayscale(33%)
.parallax-container
  min-height: 380px
  line-height: 0
  height: auto
  z-index: 1
  & .header
    text-transform: uppercase
