html, body
  font-family: sans-serif
  background-color: $body-bg
  display: flex
  min-height: 100vh
  flex-direction: column
  margin: 0
  padding: 0
  position: relative

main
  flex: 1 0 auto

.page-header
  min-height: 300px
  &::before
    @extends .valign-center
    content: attr(data-name)
    background-image: url("images/circles_v2.svg")
    background-repeat: no-repeat
    position: absolute
    width: 200px
    height: 200px
